**Installing Dash:**

In [ ]:
!pip install jupyter-dash

Requirement already satisfied: jupyter-dash in /usr/local/lib/python3.6/dist-packages (0.3.1)
Requirement already satisfied: retrying in /usr/local/lib/python3.6/dist-packages (from jupyter-dash) (1.3.3)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.6/dist-packages (from jupyter-dash) (4.10.1)
Requirement already satisfied: ansi2html in /usr/local/lib/python3.6/dist-packages (from jupyter-dash) (1.5.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from jupyter-dash) (2.23.0)
Requirement already satisfied: dash in /usr/local/lib/python3.6/dist-packages (from jupyter-dash) (1.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from jupyter-dash) (5.5.0)
Requirement already satisfied: flask in /usr/local/lib/python3.6/dist-packages (from jupyter-dash) (1.1.2)
Requirement already satisfied: six>=1.7.0 in /usr/local/lib/python3.6/dist-packages (from retrying->jupyter-dash) (1.15.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel->jupyter-dash) (5.3.5)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->jupyter-dash) (4.3.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter-dash) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter-dash) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter-dash) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->jupyter-dash) (3.0.4)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from dash->jupyter-dash) (0.16.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from dash->jupyter-dash) (4.4.1)
Requirement already satisfied: dash-html-components==1.1.1 in /usr/local/lib/python3.6/dist-packages (from dash->jupyter-dash) (1.1.1)
Requirement already satisfied: dash-core-components==1.13.0 in /usr/local/lib/python3.6/dist-packages (from dash->jupyter-dash) (1.13.0)
Requirement already satisfied: flask-compress in /usr/local/lib/python3.6/dist-packages (from dash->jupyter-dash) (1.8.0)
Requirement already satisfied: dash-table==4.11.0 in /usr/local/lib/python3.6/dist-packages (from dash->jupyter-dash) (4.11.0)
Requirement already satisfied: dash-renderer==1.8.3 in /usr/local/lib/python3.6/dist-packages (from dash->jupyter-dash) (1.8.3)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter-dash) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter-dash) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter-dash) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter-dash) (4.4.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter-dash) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython->jupyter-dash) (50.3.2)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from flask->jupyter-dash) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from flask->jupyter-dash) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from flask->jupyter-dash) (1.0.1)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from flask->jupyter-dash) (7.1.2)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (4.6.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (19.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (2.8.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.1.0->ipykernel->jupyter-dash) (0.2.0)
Requirement already satisfied: brotli in /usr/local/lib/python3.6/dist-packages (from flask-compress->dash->jupyter-dash) (1.0.9)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->jupyter-dash) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->flask->jupyter-dash) (1.1.1)

**Importing Libraries:**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

**Importing file from Google Drive:**

In [ ]:
from google.colab import drive
 
drive.mount('/content/drive')
 
!ls "/content/drive/My Drive"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
 Animals	     Dossier		  my_new_Data.xls    TEPUP2019
 AnimalsNew.rar      ex7.py.gdoc	  New.csv	     test2.csv
 Classroom	     exp.gsheet		  new_test.csv	     Test.csv
'Colab Notebooks'   'file - Copie.gdoc'   Nou.csv	     test.html
 cotations-AB.xlsx   final.xlsx		  preview	     Train.csv
 css_sheet.css	     house-prices.csv	 'scores (1).gdoc'   yalefaces
 DataSample199.xls   index.html		  scores.gdoc
 data.xlsx	     iris.csv		  spam.csv
 diabetes.csv	     kids.css		  tekup_data.csv

**Read the file:**

In [ ]:
import os 
os.getcwd()
os.chdir('/content/drive/My Drive')
df = pd.read_excel("/content/drive/My Drive/my_new_Data.xls")

**Tab 1: Numbers of agents, products and particulars + Average elapsed Time:**

In [ ]:
#list of all agents
list_of_agents = df['agent_id'].unique()
r = list_of_agents.reshape(-1,1)

#list of all products
list_of_products = df['product_id'].unique()
pr_r = list_of_products.reshape(-1,1)

#list of all particulars
list_of_particulars = df['part_id'].unique()
pa_r = list_of_particulars.reshape(-1,1)

#list of all tasks
list_of_tasks = df['task_id'].unique()
ta_r = list_of_tasks.reshape(-1,1)

I created lists of agents, products, particulars and tasks using the  function: unique()

In [ ]:
data = [['Total Number Of Agents', r.shape[0]], ['Total Number Of Products', pr_r.shape[0]], ['Total Number Of Particulars', pa_r.shape[0]]] 
df_df = pd.DataFrame(data, columns = ['Name', 'Numbers'])
df_df

                          Name  Numbers
0       Total Number Of Agents       44
1     Total Number Of Products       56
2  Total Number Of Particulars       41

I calculated numbers of agents, products and particulars and i puted them into new dataframe called: df_df

In [ ]:
i=0
xi=0
yi=0
for i in range (0, len(df['time_elapsed'])):
  if df['time_elapsed'][i] > 0 :
    xi= df['time_elapsed'][i]+xi
    yi=yi+1
xy=xi/yi
xy

0.08972728159610643

I calculated the average elapsed time and i elimanted negative values

In [ ]:
#create agents dataframe
ag_df = pd.DataFrame() 
ag_df['agent_id'] = df['agent_id'].unique()

#create products dataframe
pr_df = pd.DataFrame() 
pr_df['product_id'] = df['product_id'].unique()


#create particulars dataframe
pa_df = pd.DataFrame() 
pa_df['part_id'] = df['part_id'].unique()

#create tasks dataframe
ta_df = pd.DataFrame() 
ta_df['task_id'] = df['task_id'].unique()
ta_df.shape

(5550, 1)

I created new dataframes with unique agents, products, particulars and tasks using the  function: unique()

**Tab2: Tasks and elapsed time by agent:**

In [ ]:
#Extract tasks by agent
s =[]
i=0
j=0
x=0
for i in range(0, len(r)):
  for j in range(0, len(df['agent_id'])):
    if r[i] == df['agent_id'][j]:
      x=x+1
  s.append(x)
  x=0
ag_df['all_tasks']=s

#Extract successful and unsuccessful tasks by agent
t=[]
k=[]
i=0
j=0
v=0
w=0
for i in range(0, len(r)):
  for j in range(0, len(df['agent_id'])):
    if r[i] == df['agent_id'][j] and df['percent'][j] == 100:
      v=v+1
    elif r[i] == df['agent_id'][j] and df['percent'][j] != 100:
      w=w+1
  t.append(v)
  k.append(w)
  v=0
  w=0
ag_df['sucess_tasks']=t
ag_df['unsucess_tasks']=k

#total time elpsed by agent
z =[]
i=0
j=0
ti=0
for i in range(0, len(r)):
  for j in range(0, len(df['agent_id'])):
    if r[i] == df['agent_id'][j] and df['time_elapsed'][j] >0:
      ti= df['time_elapsed'][j]+ti
  z.append(ti)
  ti=0
ag_df['total_time_elapsed']=z

#final modification
rr=[ item for elem in r for item in elem]  
ag_df['id']=rr
ag_df['id'] = 'Agent ' + ag_df['id'].astype(str)
ag_df.head()

   agent_id  all_tasks  ...  total_time_elapsed             id
0   2728806        322  ...            2.293241  Agent 2728806
1   2708584        182  ...            1.374850  Agent 2708584
2   2738196        432  ...            2.614722  Agent 2738196
3   2804235       1969  ...           24.908669  Agent 2804235
4   2707300        991  ...            8.965822  Agent 2707300

[5 rows x 6 columns]

I calculated the sucess and unsucess tasks using the percent comlumn and eliminate the negative values when i calculated the total time elapsed, also i added a new column 'id' with a str type

**Tab3: Tasks and elapsed time by product:**

In [ ]:
#Extract tasks by product
pr_s =[]
i=0
j=0
x=0
for i in range(0, len(pr_r)):
  for j in range(0, len(df['product_id'])):
    if pr_r[i] == df['product_id'][j]:
      x=x+1
  pr_s.append(x)
  x=0

pr_df['all_tasks']=pr_s

#Extract successful and unsuccessful tasks by product
pr_t=[]
pr_k=[]
i=0
j=0
v=0
w=0
for i in range(0, len(pr_r)):
  for j in range(0, len(df['product_id'])):
    if pr_r[i] == df['product_id'][j] and df['percent'][j] == 100:
      v=v+1
    elif pr_r[i] == df['product_id'][j] and df['percent'][j] != 100:
      w=w+1
  pr_t.append(v)
  pr_k.append(w)
  v=0
  w=0
pr_df['sucess_tasks']=pr_t
pr_df['unsucess_tasks']=pr_k
#Extract total time elapsed by product
pr_z =[]
i=0
j=0
ti=0
for i in range(0, len(pr_r)):
  for j in range(0, len(df['product_id'])):
    if pr_r[i] == df['product_id'][j] and df['time_elapsed'][j] >0:
      ti= df['time_elapsed'][j]+ti
  pr_z.append(ti)
  ti=0
pr_df['total_time_elapsed']=pr_z

#final modification
pr_rr=[ item for elem in pr_r for item in elem]  
pr_df['id']=pr_rr
pr_df['id'] = 'Product ' + pr_df['id'].astype(str)
pr_df.head()

   product_id  all_tasks  ...  total_time_elapsed            id
0        9248        337  ...            3.269097  Product 9248
1        9247        329  ...            2.804595  Product 9247
2        9249        650  ...          358.501148  Product 9249
3        9245         34  ...            0.321030  Product 9245
4        9246          1  ...            0.007292  Product 9246

[5 rows x 6 columns]

I calculated the sucess and unsucess tasks using the percent comlumn and eliminate the negative values when i calculated the total time elapsed, also i added a new column 'id' with a str type

**Tab4: Tasks and elapsed time by particular:**

In [ ]:
#Extract tasks by particular
pa_s =[]
i=0
j=0
x=0
for i in range(0, len(pa_r)):
  for j in range(0, len(df['part_id'])):
    if pa_r[i] == df['part_id'][j]:
      x=x+1
  pa_s.append(x)
  x=0

pa_df['all_tasks']=pa_s

#Extract successful and unsuccessful tasks by particular
pa_t=[]
pa_k=[]
i=0
j=0
v=0
w=0
for i in range(0, len(pa_r)):
  for j in range(0, len(df['part_id'])):
    if pa_r[i] == df['part_id'][j] and df['percent'][j] == 100:
      v=v+1
    elif pa_r[i] == df['part_id'][j] and df['percent'][j] != 100:
      w=w+1
  pa_t.append(v)
  pa_k.append(w)
  v=0
  w=0
pa_df['sucess_tasks']=pa_t
pa_df['unsucess_tasks']=pa_k

#Extract total time elapsed by particular
pa_z =[]
i=0
j=0
ti=0
for i in range(0, len(pa_r)):
  for j in range(0, len(df['part_id'])):
    if pa_r[i] == df['part_id'][j] and df['time_elapsed'][j] >0:
      ti= df['time_elapsed'][j]+ti
  pa_z.append(ti)
  ti=0
pa_df['total_time_elapsed']=pa_z

#final modification
pa_rr=[ item for elem in pa_r for item in elem]  
pa_df['id']=pa_rr
pa_df['id'] = 'Particular ' + pa_df['id'].astype(str)
pa_df.head()

   part_id  all_tasks  ...  total_time_elapsed              id
0      111        287  ...            0.895104  Particular 111
1      102        523  ...            4.686146  Particular 102
2      120        774  ...            4.236262  Particular 120
3      110        213  ...            0.940197  Particular 110
4      124        545  ...            4.573183  Particular 124

[5 rows x 6 columns]

I calculated the sucess and unsucess tasks using the percent comlumn and eliminate the negative values when i calculated the total time elapsed, also i added a new column 'id' with a str type


**Building Dashboards using Dash:**

In [ ]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
    html.Br(),
    html.H1("Web Application Dashboards", style={'color':'rgb(43, 129, 186)','font-size':'300%','font-family':'verdana','text-align': 'center'}), 
    html.Br(),

    dcc.Tabs(id="tabs", value='tab-1', children=[
        dcc.Tab(label='General Analysis', value='tab-1'),
        dcc.Tab(label='Agents Analysis', value='tab-2'),
        dcc.Tab(label='Products Analysis', value='tab-3'),
        dcc.Tab(label='Particular Analysis', value='tab-4'),
    ]),
    html.Div(id='tabs-content')
])

@app.callback(Output('tabs-content', 'children'),
              [Input('tabs', 'value')])
def render_content(tab):
    if tab == 'tab-1':
        return [html.Div([
              html.H3(
dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': df_df['Name'] , 'y': df_df['Numbers'], 'type': 'bar', 'name': 'Successfull Tasks'},
            ],

        }
    )
            )

        ]),
        html.Div(
                html.H3("Average Elapsed Time :", style={'font-family':'sans-serif','text-align': 'center'})) ,
        html.Div(
                html.H3(xy, style={'font-family':'sans-serif','text-align': 'center'})) ,
]

        
    elif tab == 'tab-2':
        return [ html.Div([
            html.H3(
dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': ag_df['id'] , 'y': ag_df['sucess_tasks'], 'type': 'bar', 'name': 'Successfull Tasks'},
                {'x': ag_df['id'], 'y': ag_df['unsucess_tasks'], 'type': 'bar', 'name': u'Unsuccessfull Tasks'},
            ],
            'layout': {
                'title': 'Number Of tasks Executed By Each Agent'
            }
        }
    )
            )
        ]),
          
          html.Div([
            html.H3(
dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': ag_df['id'] , 'y': ag_df['total_time_elapsed'], 'type': 'bar', 'name': 'Total Time Elapsed'},
            ],
            'layout': {
                'title': 'Total Elapsed Time By Each Agent'
            }
        }
    )
            )
        ])]
          
    elif tab == 'tab-3':
        return [html.Div([
            html.H3(
dcc.Graph(
        id='example-graph2',
        figure={
            'data': [
                {'x': pr_df['id'] , 'y': pr_df['sucess_tasks'], 'type': 'bar', 'name': 'Successfull Tasks'},
                {'x': pr_df['id'], 'y': pr_df['unsucess_tasks'], 'type': 'bar', 'name': u'Unsuccessfull Tasks'},
            ],
            'layout': {
                'title': 'Number Of tasks Executed On Each Product'
            }
        }
    )
            )
        ]),
          
          html.Div([
            html.H3(
dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': pr_df['id'] , 'y': pr_df['total_time_elapsed'], 'type': 'bar', 'name': 'Total Time Elapsed'},
            ],
            'layout': {
                'title': 'Total Elapsed Time On Each Product'
            }
        }
    )
            )
        ])]

    elif tab == 'tab-4':
        return [html.Div([
            html.H3(
dcc.Graph(
        id='example-graph3',
        figure={
            'data': [
                {'x': pa_df['id'] , 'y': pa_df['sucess_tasks'], 'type': 'bar', 'name': 'Successfull Tasks' },
                {'x': pa_df['id'], 'y': pa_df['unsucess_tasks'], 'type': 'bar', 'name': 'Unsuccessfull Tasks'},
            ],
            'layout': {
                'title': 'Number Of tasks Executed On Each Particular'
            }
        }
    )
            )
        ]),
          
          html.Div([
            html.H3(
dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': pa_df['id'] , 'y': pa_df['total_time_elapsed'], 'type': 'bar', 'name': 'Total Time Elapsed'},
            ],
            'layout': {
                'title': 'Total Elapsed Time On Each Particular'
            }
        }
    )
            )
        ])]

**Running the application:**

In [ ]:
app.run_server(debug=True)

Dash app running on: